.Container{
    display: flex;
}

.Cards{
    flex: 2.6 1 0;
    min-height: 100vh;
}


.Favorites{
    flex: 1 1 0;
    height: fit-content;
    padding: 15px;
    background-color: #6552f4;
    border-radius: 10px;
    margin-left: 20px;
}

.Favorites h4{
    font-size: 1.2 rem;
}

.Search{
    margin-bottom: 50px;
}

.Search input{
    padding: 10px;
    width: 300px;
    height: 40px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
}

.Search input:hover{
    outline: none;
}

.Search button{
    background-color: #6552f4;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #e0e0e0;
    cursor: pointer;
    border: none;
}